
# Temporary swap files
*.swp

# Slurm output files
slurm*out

# Figure files
*.png
*.pdf
!/fix_data/*.pdf

# Cron log files
cron.log

# Temporary directories
tmp/

# Test directories
/tests/linear_interp_test/
/tests/select_obs_test/
